* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-optical-sizing: auto;
}

body {
    background-color: #fff8f0;
    color: #333;
    line-height: 1.6;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #052577;
    padding: 1rem 2rem;
    color: white;
}

.logo {
    color: rgb(232, 243, 215);
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 1rem;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: url('https://images.unsplash.com/photo-1585144570839-e429bb95ffb4?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMjA3fDB8MXxzZWFyY2h8NHx8Zm9vZCUyMHJlc3RhdXJhbnR8fDB8fHx8MTYyNzI3MDE4Nw&ixlib=rb-1.2.1&q=80&w=1080') no-repeat center center/cover;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 100px 80px;
}


.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size: 1.2rem;
}

section {
    padding: 60px 20px;
    text-align: center;
}

.about,
.contact {
    background-color: #f9f9f9;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.menu-items {
    display: flex;
    justify-content: center;
    gap: 2.6rem;
    flex-wrap: wrap;
    margin-top: 20px;
}

.item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 220px;
    box-shadow: 0 2px 8px;
}

.item h3 {
    margin-top: 10px;
    color: #ff6347;
}

footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 40px;
}